@font-face{
    font-family: "Cooper Black Std";
    font-weight: 800 900;
    src: url('../fonts/CooperBlackStd.woff2')
}

@font-face{
    font-family: "Cooper Black Std";
    font-weight: 800 900;
    font-style: italic;
    src: url('../fonts/CooperBlackStd-Italic.woff2')
}

    @font-face {
        font-family: 'Sentient-Variable';
        src: url('../fonts/Sentient-Variable.woff2') format('woff2');
        font-weight: 200 700;
        font-display: swap;
        font-style: normal;
    }



    @font-face {
        font-family: 'Sentient-Variable';
        src: url('../fonts/Sentient-VariableItalic.woff2') format('woff2');
        font-weight: 200 700;
        font-display: swap;
        font-style: italic;
    }

:root {
    --brand-color: rgb(232,156,71);
    --brand-color-bright: rgb(243,124,24);
    --brand-complement-color: rgb(111,148,163);
    --brand-complement-color-bright: #66a89e;
    --bg-color-dark: rgb(14,22,42);
    --bg-color:  rgb(255, 254, 241);

}

body {
    background-color: var(--bg-color);
    font-family: "Sentient-Variable", Georgia, serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

section p, section table.tight {
    max-width: 36rem;
}

section table {
    max-width: 56rem;
}

/*adding row numbers through css*/
.css-serial {
    counter-reset: serial-number; /* Set the serial number counter to 0 */
}

.css-serial td:first-child:before {
    counter-increment: serial-number; /* Increment the serial number counter */
    content: counter(serial-number); /* Display the counter */
}

section img {
    width: 100%;
}

h1 {
    font-family: "Cooper Black Std";
    font-weight: bold;
    color: var(--brand-color-bright);
}

.dark-background {
    background-color: var(--bg-color-dark);
}

header h1{
    font-size: clamp(1rem, 1rem + 6vw, 6rem);
    line-height: .9;
    font-weight: 900;
    padding-top: .5rem;
}

header h2 {
    font-family: "Sentient-Variable", Georgia, serif;
    font-weight: 200;
    font-style: italic;
    color: var(--brand-complement-color);
}

.event-date, .event-location {
    font-style: normal;
    font-weight: 900;
}

footer {
    flex-grow: 1;
}

footer h1 {
    color: white;
    opacity: .2;
    font-size: 1.5rem;
}

.container-wrap {
    background-color: var(--bg-color);
}

section ul {

}

section li {
    list-style: none;

}

a {
    color: var(--brand-complement-color-bright);
}

a:hover {
    color: darkcyan;
}

.btn-primary {
    background-color: var(--brand-complement-color-bright);
    border-color: var(--brand-complement-color-bright);
    color: var(--bg-color);
}

.btn-primary:hover {
    background-color: darkcyan;
    border-color: darkcyan;
    color: var(--bg-color);
}

.btn-outline-primary {
    border-color: var(--brand-complement-color-bright);
    color: var(--brand-complement-color-bright);
}


.btn-outline-primary:hover {
    color: var(--bg-color);
    background-color: var(--brand-complement-color-bright);
    border-color: var(--brand-complement-color-bright);
}
